

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
    width: 100%;
	}
	
div[type="page"] {
    position: relative;
    padding-bottom: 4em; 
    margin-bottom: 4em;
}

h1, h2, h3, h4, nav, footer {
    text-align: center;
}

#sitenav {
    overflow: hidden;
    background-color: #6e8a74;
    justify-content: center;
    display: flex; 
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
    }
    
#sitenav a {
    display: block;
    color: #fdf6d9;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    }
    
#sitenav a:hover:not(.active) {
    background-color: #e6d63b;
    }

h2 {
    padding: 1vw;
}

h3 {
    font-weight: bold;
    padding: 1vw;
    
}

h5 {
    font-size: 1vw;
    font-weight: bold;
}

h6 {
    text-align: center;
    color: #c9958a;
}
#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

ul {
  list-style: none;

}

hr {
    border-top: 1px solid black;
}

li {
  display: flex;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}

.row {
    padding: 1vw;
}


#collection {
    display: flex;
}

.thumbnail {
    margin: 5px;
    border: 1px solid black;
    width: 300px;
}

.img-full {
    margin: 5px;
    border: 1px solid black;
    width: 500px;
}
.zoomable-img{
    margin: 0 auto;
}

.indented-inline {
    text-indent: 25px;
    margin: 0;
    padding: 0;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.bottom {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.italic {
    font-style: italic;
}

.gothic {
    font-family: 'MedievalSharp'
}


.opener {
    font-style: italic;
}

.anfang {
  font-size: 3em;
  font-weight: bold;
  float: left;
  line-height: 1;
  padding-right: 0.1em;  
}

.anfang-h {
  font-size: 2em;
  font-weight: bold;
  margin-right: 0.05em;
  vertical-align: baseline;
  display: inline;
}

.rotated-text {
  writing-mode: vertical-lr;      
  text-align: center;
  transform: rotate(180deg);      
  white-space: nowrap; 
}

.top-left {
    position: absolute;
    top: 0;
    left: 10px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 10px;
}

.top-centre {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-centre {
    bottom: auto;
    text-align: center;
}

.right {
    position: absolute;
    right:0;
}
.left {
    position: absolute;
    left:0;
}
.right-float {
    float: right;

}
.left-float {
    float:left;
    text-align: center;

}
.signature-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2em;
  gap: 0.5em;
}

.signed {
  padding: 0.2em;
}

.line {
   border-top: 1px solid black;
   margin-top: 2em; 
   margin-bottom: 1em;
}

.double-line {
  height:1em;
  border-top:1px solid black;
  border-bottom:1px solid black;
}


.metamark {
    right:0;
}

.thumbnail {
    margin: 5px;
    border: 1px solid black;
    width: 100px;
}

.img-full {
    margin: 5px;
    border: 1px solid black;
    width: 500px;
}

.stamp {
  text-align: center;
  color: #909cc6;  
}

.box-1 {
    border-style: solid;
    padding: 1em;
    border-width: 1px;
}

.box-2 {
    border: 1px solid rgba(0,0,0,0.25);
    padding: 1px;    
}

.green {
    color:#658377;
}

.green-2 {
    color:#7fa373
}

.red {
    color:#d5543e;
}

.yellow {
    color:#e5d63d;
}

.blue {
    color:#bbcdcd;
}
.dark-blue {
    color:#7ca6cc;
}
 
.text-gradient {
 color: #B57050; 
 background-image: linear-gradient(180deg, #B57050 , #BA7756 50%, #E0BE75 100%); 
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
}

.bold {
    font-weight: bold;
}

.adress {
    text-align: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.circle {
    width: 150px;
    height: 150px;
    border: 1px solid #909cc6; 
    border-radius: 50%;
    display: flex;              
    justify-content: center;     
    align-items: center;        
    text-align: center; 
    color: #909cc6;
}

.center {
    text-align:center;
}

.border-right {
    border-right: 1px solid black;
}

.border-left {
    border-left: 1px solid black;
}
.vertical-box {
    display: flex; 
    writing-mode: vertical-lr; 
    text-align: center;
    white-space: nowrap;
    gap: 1rem; 
}
.vertical-box p {
    transform: rotate(180deg); 
    transform-origin: center;
}

.dots {
  flex-grow: 1;
  border-bottom: 1px dotted black;        
  margin: 0 0.5em;
}

.pagenumber {
  white-space: nowrap;
  float: right;
}

.zoom-container {
  width: 600px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden; 
  height: auto;
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 20px auto;
}

.zoom-container img {
  width: 100%;
  height: auto;
  transition: transform 0.1s ease;
  transform-origin: center center;
}
